<!DOCTYPE html>
<html>
  <head>
    <title>Tacos!!</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>Hello From Afar</h1>
    <p>Today I went to my favorite Taco Stand called the @Model.adjective @Model.animal. Unlike most food stands, they cook and 
      prepare the food in a @Model.ride while you @verb. The best thing on the menu is the @Model.color @Model.noun. Instead of 
      ground beef they fill the taco with @Model.foods, cheese, and top it off with a salsa made from @Model.foods2. If that doesn't 
      make your mouth water, then it' just like @Model.person always says: @saying!</p>
  </body>
</html>
