<!DOCTYPE html>
<html>
  <head>
    <title>The Gym!!</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
    <h1 style="background-color: red">Hello From Afar</h1>
    <p style="margin-top: 100px">
      One day, the elephants, Mr. and Mrs. @Model.FamilyName, and their 4 children, 
      @Model.BoyName, @Model.GirlName, @Model.Boy2Name and @Model.Girl2Name were having breakfast and Mrs. @Model.FamilyName 
      said, "We need to loose some weight." "Nonsense," said Mr. @Model.FamilyName, "We're fine the way we are." "It says 
      here in the paper that at the Get Fit Gym your first @Model.Number lessons are free. Why don't we try it?" said Mrs. 
      @Model.FamilyName.
      "But Muuuuuuuum." said the children. "No!" said Mrs. @Model.FamilyName, "We have to loose some weight, so first thing 
      tomorrow morning we'll head off for the gym. No excuses."

      The next morning Mrs. @Model.FamilyName woke up the family and they all got dressed and headed off for the gym 
      (all moaning). When they got there, there was a big queue of people in tracksuits waiting for the doors to open. 
      Finally they went in. Mr. and Mrs. @Model.FamilyName went on the @Model.Equipment and the kids all went off to the 
      kiddy gym.

      After about 5 minutes they gave up and went to McDonalds instead. "I guess elephants are just meant to be big," said 
      Mrs. @Model.FamilyName. They all agreed.
    </p>
  </body>
</html>